@model TaskUsingEFCore.Models.PersonProperty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PersonProperty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonBillingIntervel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonBillingIntervel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonOldPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonOldPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNewPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonNewPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
